body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 1px 1px;
    margin: 0 10px;
}

span {
    font-size: 40px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 1000px;
}

button:hover {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: translateY(-10px);
}

#deal:hover {
    position: relative;
    animation-name: extraAF;
    animation-duration: infinite;
}

#five:hover {
    background-color: blue;
    animation-name: five;
}

#quarter:hover {
    background-color: yellow;
    animation-name: quarter;
}

#hit:hover, #hundred:hover {
    background-color: green;
    animation-name: hit;
}

#stand:hover, #fiveHun:hover {
    background-color: red;
    animation-name: stand;
}

@keyframes extraAF {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:3px; top:0px;}
    50%  {background-color:blue; left:3px; top:3px;}
    75%  {background-color:green; left:0px; top:3px;}
    100% {background-color:red; left:0px; top:0px;}
  }

@keyframes five {
    50% {background-color: darkcyan;}
    50% {background-color:turquoise;}
}
  
@keyframes quarter {
    50% {background-color: gold;}
    50% {background-color: goldenrod;}
}
  
@keyframes hit {
    50% {background-color: limegreen;}
    50% {background-color: lime;}
}

@keyframes stand {
    50% {background-color: crimson;}
    50% {background-color: firebrick;}
}